<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#ff808a">
    <!-- Your app title -->
    <title>考试进行中</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/bower_components/Framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/stylesheets/colors.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>
  <body class="theme-white color">
    <div class="views">
      <div class="view view-main">
        <div class="pages">
        <!-- --------------------- -->
          <div data-page="exam" class="page">
            <%

              var nowQuestion=questions[questionNumber-1];
              var typeName='';

              if(nowQuestion.type){
                  typeName='多选题';
              }else{
                  typeName='单选题';
              }

            %>
            <div class="navbar">
              <div class="navbar-inner">
                  <div class="left">
                    <a href="/app/main" class="icon-only link">
                          <i class="iconfont small">&#xe617;</i>
                      </a>
                  </div>
                  <div class="center countdown" id="countdown" data-startTime="Tue May 10 2016 16:20:00" data-totalMinutes="<%=examInfo.totalTime%>" >已结束</div>
                  <div class="right">
                      <a href="/app/answersheet" class="icon-only link saveAnswer">
                          <i class="iconfont">&#xe618;</i>
                      </a>
                  </div>
              </div>
          </div>  

            <div class="page-content">

              <div class="content-block">

                  <div class="exam-title card">
                      <div class="row no-gutter">
                        <div class="col-80">
                          <h2><%=examInfo.title%></h2>
                        </div>
                        <div class="col-20">
                          <p><span class="questionNum"><%=questionNumber%></span>/<span class="questionSum"><%=questions.length%></span></p>
                        </div>
                      </div>
                  </div>

                  <div class="question row card">
                    <h3 class="question-type"><span><%=typeName%></span></h3>
                    <div class="question-content">
                      <p><%=nowQuestion.title%></p>
                      <p><%=nowQuestion.content%></p>
                    </div>
                    <!-- <a href="/javascript:;" class="button code-style-toggle"><i class="iconfont">&#xe626;</i></a> -->
<!-- &#9;-Tab &#10;-换行 -->
                  </div>
    <script src="javascripts/prism.js"></script>
              </div>
              
              <div class="list-block answerList" data-number="<%=questionNumber%>">
                <ul class="answerListUl"  data-number="<%=questionNumber%>" data-qid="<%=nowQuestion.id%>">
                  <!-- Single radio input -->
                  <%
                    var aLen=nowQuestion.answer.length;
                    if(!nowQuestion.type){
                      for(var ai=0;ai<aLen;ai++){
                  %>
                  <li>
                    <label class="label-radio item-content">
                      <!-- Checked by default -->
                      <input type="radio" name="my-radio" value="<%=nowQuestion.answer[ai].id%>">
                      <div class="item-media">
                        <i class="icon icon-form-radio"></i>
                        <span class="optionCode"><%=nowQuestion.answer[ai].id%></span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title"><%=nowQuestion.answer[ai].content%></div>
                      </div>
                    </label>
                  </li>
                  <% } }else{ for(var ai=0;ai<aLen;ai++){ %>
                  <li>
                    <label class="label-checkbox item-content">
                      <!-- Checked by default -->
                      <input type="checkbox" name="my-checkbox" value="<%=nowQuestion.answer[ai].id%>">
                      <div class="item-media">
                        <i class="icon icon-form-checkbox"></i><span class="optionCode"><%=nowQuestion.answer[ai].id%></span>
                      </div>
                      <div class="item-inner">
                        <div class="item-title"><%=nowQuestion.answer[ai].content%></div>
                      </div>
                    </label>
                  </li>
                  <% } } %>
                </ul>
              </div>
              <!-- /radio -->

            </div>
            <div class="toolbar turning">
              <div class="toolbar-inner">
              <% if(questionNumber>1){ %>
                  <a href="/app/exam?id=<%=examID%>&qNumber=<%=(parseInt(questionNumber)-1)%>" class="link lastBtn saveAnswer"><i class="iconfont">&#xe639;</i></a>
              <% } if(questionNumber<questions.length){ %>    
                  <a href="/app/exam?id=<%=examID%>&qNumber=<%=(parseInt(questionNumber)+1)%>" class="link nextBtn saveAnswer"><i class="iconfont">&#xe636;</i></a>
              <% } if(questionNumber>=questions.length){ %>
                  <a href="/app/answersheet" class="icon-only link saveAnswer"><i class="iconfont">&#xe618;</i></a>
              <% } %>
              </div>
            </div>

          </div>
          <!-- ------------------- -->
        </div>
      </div>

    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/bower_components/Framework7/dist/js/framework7.min.js"></script>
    <script src="/javascripts/my-app.js"></script>

  </body>
</html> 