<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#ff808a">
    <!-- Your app title -->
    <title>考试进行中</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/bower_components/Framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/stylesheets/colors.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="theme-white color">
    <div class="views">
      <div class="view view-main">
        <div class="pages">
        <!-- --------------------- -->
          <div data-page="answersheet" class="page">
 
            <div class="navbar">
              <div class="navbar-inner">
                  <div class="left">
                    <a href="exam.html" class="icon-only link back">
                          <i class="iconfont small">&#xe617;</i>
                      </a>
                  </div>
                  <div class="center countdown">考试结果</div>
                  <div class="right">
                      <a href="#" class="icon-only countdown">
                          <i class="iconfont"></i>
                      </a>
                  </div>
              </div>
          </div>  

            <div class="page-content">

              <div class="content-block">

                  <div class="sheet-title card">
                    <h2><%=examInfo.title%></h2>
                  </div>
                  <%
                    var oTime=new Date(examInfo.startTime);
                    var startHour=oTime.getHours();
                    var startMinutes=oTime.getMinutes();
                    var oEndTime=new Date(parseInt(examInfo.startTime)+parseInt(examInfo.totalTime)*60000);
                    var endHour=oEndTime.getHours();
                    var endMinutes=oEndTime.getMinutes();
                  %>
                  <div class="exam-intro card">
                    <div class="exam-intro-content row no-gutter">
                      <ul class="col-50">
                        <li>答题人：<span class="username-txt"><%=basicInfo.stuInfo.Name%></span></li>
                        <li>创建老师：<span class="teachername-txt"><%=examInfo.teacher%></span></li>
                      </ul>
                      <ul class="col-50">
                        <li>班级：<span class="userclass-txt"><%=basicInfo.className%></span></li>
                        <li>考试时间：<span class="examtimelimit-txt"><%=examInfo.totalTime%></span>分钟</li>
                      </ul>
                    </div>
                  </div>              
              </div>
              <div class="list scoreContent success">
                <h3><i class="iconfont">&#xe61d;</i></h3>
                <p>合格</p>
                <h1>62<span>分</span></h1>
              </div>

          </div>

          <div class="toolbar turning">
            <div class="toolbar-inner handin">
                <a href="/app/main" class="link handin-btn"><i class="iconfont">&#xe62c;</i>返回首页</a>
            </div>
          </div>

        </div>
        <!-- ------------------- -->
      </div>

    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/bower_components/Framework7/dist/js/framework7.min.js"></script>
    <script src="/javascripts/my-app.js"></script>

  </body>
</html> 