<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#ff808a">
    <!-- Your app title -->
    <title>在线考试主页</title>
    <!-- Path to Framework7 Library CSS, Material Theme -->
    <link rel="stylesheet" href="/bower_components/Framework7/dist/css/framework7.material.min.css">
    <!-- Path to Framework7 color related styles, Material Theme -->
    <!-- <link rel="stylesheet" href="stylesheets/colors.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" id="code-style" href="/stylesheets/highlight/tomorrow.css">
    <script src="/javascripts/highlight.pack.js"></script>
    <!-- <link rel="stylesheet" href="stylesheets/font-awesome.min.css"> -->
    <!-- Path to your custom app styles-->
    <!-- <link rel="stylesheet" href="bower_components/Framework7/dist/css/my-app.css"> -->
  </head>
  <body class="theme-white color">
    <!-- Views -->
    <div class="views">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
        <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
        <div class="pages">
        <!-- --------------------- -->
          <div data-page="main" class="page">
            
            <div class="panel-overlay"></div>
            <div class="panel panel-right panel-cover">
                <div class="panel-head">
                  <div class="avatar"><img src="/images/avatar/u12880228.jpeg" alt=""></div>
                  <h4 class="nickname"><%=userInfo.name%></h4>
                </div>
                <ul class="panel-list">
                  <li><a href="#" class="button">个人信息</a></li>
                  <li><a href="#" class="button">设置</a></li>
                  <li><a href="#" class="button">关于</a></li>
                </ul>
                <a href="/func/logout" class="logout button close-panel link external">注销</a>
            </div>

            <!-- Top Navbar. In Material theme it should be inside of the page-->
            <div class="navbar">
              <div class="navbar-inner">
                  <div class="left"></div>
                  <div class="center">考试</div>
                  <div class="right">
                      <a href="#" class="icon-only open-panel ripple">
                          <i class="iconfont">&#xe60a;</i>
                      </a>
                  </div>
              </div>
          </div>  
            <!-- Scrollable page content -->

            <div class="page-content">

              <div class="content-block">

                  <form class="card search-bar">
                      <div class="row no-gutter">
                        <div class="col-15">
                          <a href="#" class="searchbar-btn button">
                            <i></i>
                          </a>
                        </div>
                        <div class="col-85">
                          <input type="search" placeholder="Search">
                        </div>
                      </div>
                  </form>

                  <div class="main-stat row card">
                    <div class="col-50">
                      <span>已参加考试</span>
                      <strong class="pink" id="examedNum"><%=finishedExamSum%></strong>
                    </div>
                    <div class="col-50">
                      <span>平均分</span>
                      <strong class="pink" id="gpa"><%=finishedExamAvg%></strong>
                    </div>
                  </div>
              </div>

              <div class="content-block"><h2>当前考试</h2></div>
              <ul class="currentExamList examList list">
                <%for(var i=0,len=currentExam.length;i<len;i++){ 
                    var ce=currentExam[i];
                    var iconfont=(currentExam[i].status_code==1)?'&#xe603;':'&#xe61c;';
                    var iconClass=(currentExam[i].status_code==1)?'startSoon':'examing';
                %>
                <li class="row no-gutter ripple">
                  <a href="/app/exam?id=520" class="link row" data-examID="<%=ce.examID%>" >
                    <div class="col-25 <%=iconClass%>">
                      <strong><i class="icon iconfont"><%-iconfont%></i></strong>
                      <span><%=ce.status%></span>
                    </div>
                    <div class="col-75">
                      <h3><%=ce.title%></h3>
                      <p>
                        老师：<span class="teacherName"><%=ce.teacher%></span>
                        考试时间：<span class="examMainTime"><%=ce.totalMinutes%>分钟</span>
                      </p>
                      <p>
                        创建时间：<span class="examCreateDate"><%=ce.createTime%></span>
                      </p>
                    </div>
                  </a>
                </li>
                <% } %>
              </ul>
              
              <div class="content-block historyExam"><h2>已完成考试</h2></div>
              <ul class="historyExamList examList list">
                <%for(var i=0,len=finishedExam.length;i<len;i++){ 
                    var fe=finishedExam[i];
                    var feClass='scorePass';
                    if(parseInt(fe.score)<60){
                      feClass='scoreFail';
                    }
                %>
                <li class="row no-gutter ripple">
                  <a href="/app/exam" class="link row" data-examID="<%=fe.examID%>" >
                    <div class="col-25 <%=feClass%>">
                      <strong><i class="iconfont"><%=fe.score%></i></strong>
                      <span><%=fe.status%></span>
                    </div>
                    <div class="col-75">
                      <h3><%=fe.title%></h3>
                      <p>
                        老师：<span class="teacherName"><%=fe.teacher%></span>
                        考试时长：<span class="examMainTime"><%=fe.totalMinutes%>分钟</span>
                      </p>
                      <p>
                        开考时间：<span class="examCreateDate"><%=fe.createTime%></span>
                      </p>
                    </div>
                  </a>
                </li> 
                <% } %>
              </ul>

            </div>

          </div>
          <!-- ------------------- -->
        </div>
      </div>

    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/bower_components/Framework7/dist/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="/javascripts/my-app.js"></script>

  </body>
</html> 